.svn/
out/
xcodebuild/
xcuserdata/
.DS_Store
/.DS_Store
Makefile
*.mk
/build/
ios/build/
silk/build/
amrwb/build/

/umcs/source/android/bin/
/umcs/source/android/libs/
/umcs/source/android/obj/
!Android.mk
!Application.mk

/umcs/source/android/doc/
/umcs/source/pc/pcsample/Debug

/umcs/source/pc/sample/Debug
refs/ios/webrtc/Release/WebRTC.framework
refs/ios/webrtc/Debug/WebRTC.framework
