*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/chromium/.gclient.tmp
/chromium/.gclient.tmp_entries
/chromium/.last_sync_chromium
/chromium/_bad_scm
/gyp-mac-tool
/links
/links.db
/out
/resources
/resources/**/*.aecdump
/resources/**/*.bin
/resources/**/*.byte
/resources/**/*.chn
/resources/**/*.dat
/resources/**/*.frames
/resources/**/*.gai
/resources/**/*.jpg
/resources/**/*.pcap
/resources/**/*.pcm
/resources/**/*.rtp
/resources/**/*.rtpdump
/resources/**/*.rx
/resources/**/*.wav
/resources/**/*.yuv
/resources/**/*.BIT*
/resources/**/*.INP
/resources/**/*.OUT*
/x86-generic_out/
/xcodebuild
